.heading{
    background-color: orange;
    display: flex;
    justify-content: space-between;
    border: ridge;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.gameitem{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p,h2{
    text-align: center;
    color: green

}